/* CSS styling for the MappedReviews component. */

#mapped-reviews-container {
    display: flex;
    flex-flow: row wrap; 
    justify-content: center;
}

#mapped-reviews-container div {
    width: 30%; 
}

.indiv-review-container {
    border-bottom: 1px solid black; 
}