/* Some minor CSS styling for the MappedReviews component to make reading the reviews rendered a little easier. */

#mapped-reviews-container {
    display: flex;
    flex-flow: row wrap; 
    justify-content: center;
}

#mapped-reviews-container div {
    width: 30%; 
}